html, body {
	height: 100%;
}

body {
	height: 100%;
	background: #151C26 url('../img/bg.jpg') top center no-repeat;
	color: #a5bbca;
	font-family: Arial, Helvetica, sans-serif;
}

#parentContainer {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#logoContainer {
	position: absolute;
	left: 0;
	top: 60px;
}

#contentContainer {
	padding: 250px 100px 0 218px;
}

p {
	font-size: 18px;
	margin-bottom: 25px;
}

#navContainer {
	position: absolute;
	top: 112px;
	left: 410px;
	height: 41px;
	list-style: none;

    li {
        display: inline;
        height: 41px;

        a {
            background-image: url('../img/nav-sprite.png');
            display: block;
            float: left;
            height: 41px;
            margin-right: 50px;
            span {
                display: none;
            }
        }

        a.bio {
            background-position: 0 41px;
            width: 71px;
        }

        a.bio:hover {
            background-position: 0 0;
        }

        a.projects {
            background-position: -71px 41px;
            width: 93px;
        }

        a.projects:hover {
            background-position: -71px 0;
        }

        a.contact {
            background-position: -164px 41px;
            width: 93px;
        }

        a.contact:hover {
            background-position: -164px 0;
        }

        a.cv {
            background-position: -257px 41px;
            width: 71px;
        }

        a.cv:hover {
            background-position: -257px 0;
        }
    }
}
