html, body {
	height: 100%;
}

body {
	height: 100%;
	background: #151C26 url('../img/bg.jpg') top center no-repeat;
	color: #a5bbca;
	font-family: Arial, Helvetica, sans-serif;
}

#parentContainer {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#logoContainer {
	position: absolute;
	left: 0;
	top: 60px;
}

#contentContainer {
	padding: 250px 100px 0 218px;
}

p {
	font-size: 18px;
	margin-bottom: 25px;
}

#navContainer {
	position: absolute;
	top: 112px;
	left: 410px;
	height: 41px;
	list-style: none;

    li {
        display: inline;
        height: 41px;

        a {
            display: block;
            float: left;
            margin-right: 50px;
            font-family: Impact, Charcoal, sans-serif;
            color: #ccc;
            text-decoration: none;
            font-size: 1.5em;
            padding: 5px 10px;
        }

        a:hover {
            @include border-radius(10px);
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
