<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> {% if page.title %} {{ page.title }} | {% endif %} Kristian Lewis Jones </title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div id="parentContainer">
            <div id="logoContainer">
                <h1>Kristian Lewis Jones</h1>
                <span>klj613</span>
            </div>

            <ul id="navContainer">
                <li><a href="/" class="bio">Bio</a></li>
                <li><a href="/projects.html" class="projects">Projects</a></li>
                <li><a href="/contact.html" class="contact">Contact</a></li>
                <li><a href="/curriculum-vitae.html" class="cv">CV</a></li>
            </ul>

            <div id="contentContainer">
                {{ content }}
            </div>
        </div>
    </body>
</html>

